# Interfacing between Pandas and Model code:

In [57]:
import pandas as pd
import numpy as np


data = pd.DataFrame({"x0" : [1,2,3,4,5],
                     "x1" : [0.01, -0.01, 0.25, -4.1, 0.],
                     "x2" : [-1.5, 0., 3.6, 1.3, -2.]})
data

   x0    x1   x2
0   1  0.01 -1.5
1   2 -0.01  0.0
2   3  0.25  3.6
3   4 -4.10  1.3
4   5  0.00 -2.0

In [58]:
data.columns

Index(['x0', 'x1', 'x2'], dtype='object')

In [59]:
data.values

array([[ 1.  ,  0.01, -1.5 ],
       [ 2.  , -0.01,  0.  ],
       [ 3.  ,  0.25,  3.6 ],
       [ 4.  , -4.1 ,  1.3 ],
       [ 5.  ,  0.  , -2.  ]])

In [60]:
df2 = pd.DataFrame(data.values, columns = ['x0', 'x1', 'x2'])
df2

    x0    x1   x2
0  1.0  0.01 -1.5
1  2.0 -0.01  0.0
2  3.0  0.25  3.6
3  4.0 -4.10  1.3
4  5.0  0.00 -2.0

.values attribute is tend to be used when the data is homogenous- for ex all numeric types. 
If we have hetrogeneous data, the result will be an ndarray of python objects.

In [61]:
df3 = data.copy()

df3["strings"] = ["a", "b", "c","d","e"]
df3

   x0    x1   x2 strings
0   1  0.01 -1.5       a
1   2 -0.01  0.0       b
2   3  0.25  3.6       c
3   4 -4.10  1.3       d
4   5  0.00 -2.0       e

In [62]:
df3.values

array([[1, 0.01, -1.5, 'a'],
       [2, -0.01, 0.0, 'b'],
       [3, 0.25, 3.6, 'c'],
       [4, -4.1, 1.3, 'd'],
       [5, 0.0, -2.0, 'e']], dtype=object)

In [63]:
#here we wish have only a subset of the columns. Here we can use loc indexing with values

data.loc[:,["x0","x1","x2"]] #without the col["strings"]

   x0    x1   x2
0   1  0.01 -1.5
1   2 -0.01  0.0
2   3  0.25  3.6
3   4 -4.10  1.3
4   5  0.00 -2.0

In [64]:
data["category"] = pd.Categorical(["a", "b", "a", "a", "b"], categories = ["a", "b"])
data

   x0    x1   x2 category
0   1  0.01 -1.5        a
1   2 -0.01  0.0        b
2   3  0.25  3.6        a
3   4 -4.10  1.3        a
4   5  0.00 -2.0        b

In [65]:
dummies = pd.get_dummies(data.category, prefix = "category")
dummies

   category_a  category_b
0           1           0
1           0           1
2           1           0
3           1           0
4           0           1

In [66]:
data_with_dummies = data.drop("category", axis = 1).join(dummies)
data_with_dummies

   x0    x1   x2  category_a  category_b
0   1  0.01 -1.5           1           0
1   2 -0.01  0.0           0           1
2   3  0.25  3.6           1           0
3   4 -4.10  1.3           1           0
4   5  0.00 -2.0           0           1

#Creating Model Descriptions with Pasty

Its a pyton library for describing statistical models(especially linear models) with a small string-based "formula syntax".
Pasty's formulas are a special syntax: 

y ~ x0 + x1

These are terms in the design matrix created for a model i.e. The syntax a+b does not mean add a to b.

pasty.dmatrices function takes a formula string along with a dataset(which can be a DataFrame or Dict of arrays) and produces design matrix for a linear model:

In [67]:
data

   x0    x1   x2 category
0   1  0.01 -1.5        a
1   2 -0.01  0.0        b
2   3  0.25  3.6        a
3   4 -4.10  1.3        a
4   5  0.00 -2.0        b

# Introduction to statsmodels

In [68]:
# Linear models are of many kinds basic (ordinary least squares) to more complex (iteratively reweighted least squares)
# Linear models in statsmodels have two different main interfaces : array-based and formula-based
#These are accessed by API module imports:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [69]:
#we generate a linear model with some random data

def dnorm(mean, variance, size =1):
    if isinstance(size, int):
        size = size,
    return mean + np.sqrt(variance) * np.random.randn(*size)

In [70]:
# for reproducibility
np.random.seed(12345)

In [71]:
N = 100
X = np.c_[dnorm(0, 0.4, size = N),
          dnorm(0, 0.6, size = N),
          dnorm(0,0.2, size = N)]

eps = dnorm(0, 0.1, size = N)
beta = [0.1, 0.3,0.5]

y = np.dot(X, beta) + eps
X

array([[-1.29468492e-01, -1.21275292e+00,  5.04224878e-01],
       [ 3.02910364e-01, -4.35741756e-01, -2.54179861e-01],
       [-3.28521889e-01, -2.53015334e-02,  1.38350968e-01],
       [-3.51474705e-01, -7.19605110e-01, -2.58214633e-01],
       [ 1.24326880e+00, -3.73799164e-01, -5.22629046e-01],
       [ 8.81267227e-01, -2.80898544e-02, -3.68960148e-01],
       [ 5.87601006e-02,  8.48485492e-01, -1.18261588e+00],
       [ 1.78191913e-01,  7.59823931e-01, -6.84173312e-02],
       [ 4.86372577e-01, -4.56615198e-01, -3.36269295e-01],
       [ 7.88314544e-01,  1.22517962e+00, -5.93046604e-02],
       [ 6.37002481e-01, -4.09556235e-01,  6.51724241e-01],
       [-8.19802211e-01,  3.53992127e-01,  2.72581984e-01],
       [ 1.73919980e-01,  7.20350703e-01, -2.20824797e-01],
       [ 1.44777217e-01, -1.21555178e+00,  5.54535862e-01],
       [ 8.55659737e-01, -7.92015008e-01, -6.06967863e-02],
       [ 5.60627140e-01, -3.12028394e-01,  6.39534138e-01],
       [-1.26594659e+00,  1.70788390e-01, -3.78723930e-01],
       [-2.35173870e-01, -1.49807854e-01,  2.69795970e-01],
       [ 1.05558429e+00,  5.18327819e-01,  5.65086692e-01],
       [-2.77375856e-01, -1.27729815e+00, -1.14258850e-01],
       [-3.41362463e-01, -1.74500924e+00, -1.99317903e-01],
       [ 3.01671809e-01, -9.03824348e-01,  2.09459948e-01],
       [ 2.05481256e+00,  2.73902883e-01, -4.30042348e-01],
       [-6.45880997e-01,  5.43852200e-01, -8.15943234e-01],
       [-3.64982057e-01, -2.12680391e-01,  2.79699975e-01],
       [ 7.85011874e-02, -1.07779075e-01,  4.57442437e-01],
       [ 1.91389621e-01,  8.33909252e-02,  4.95255337e-01],
       [ 3.31262542e-01, -4.69827834e-01,  4.06683027e-02],
       [ 5.94683881e-04, -3.23056701e-01, -1.56573351e-01],
       [ 8.49899938e-01, -1.31735941e-02,  9.74733410e-02],
       [-4.51284841e-01, -9.48218860e-01, -4.00172597e-01],
       [-5.25667654e-01, -1.39492460e+00, -7.78819773e-01],
       [-1.49906612e+00,  1.26626122e+00, -4.70583073e-01],
       [-1.17684845e+00,  7.66082537e-01,  6.42468297e-01],
       [-5.44390778e-01,  3.54718910e-01, -2.57687777e-01],
       [ 3.54266989e-01,  4.30020757e-01, -1.08238857e+00],
       [-8.00647272e-01,  1.01218075e+00, -4.75088253e-01],
       [ 7.57853279e-02, -3.41251328e-01,  1.06156103e-01],
       [-6.72624331e-01, -2.33424923e-01,  4.28148461e-04],
       [ 2.10533515e-01,  3.86362227e-01,  2.91821096e-02],
       [-1.49222748e+00, -6.38260715e-01, -6.11575372e-01],
       [-1.26202046e-01,  1.02290590e+00, -1.35416509e-02],
       [-9.75243602e-01,  3.93467831e-01,  4.20599611e-01],
       [-6.13947298e-01, -5.06150647e-01, -2.87306449e-01],
       [-8.26638513e-01,  1.44833709e-01,  4.65182301e-01],
       [ 1.81103482e-01, -3.03429073e-01, -4.84297556e-01],
       [ 2.39058142e-01, -2.10917232e-01,  1.91950152e-01],
       [-4.76799709e-01, -1.32776989e-02, -1.05642436e-01],
       [ 2.09523442e-01,  5.26974186e-01,  2.87029653e-01],
       [ 8.53651930e-01,  4.92265755e-01, -1.48323110e-01],
       [ 4.41938984e-02, -5.86506397e-01,  6.23448053e-01],
       [ 1.56010405e-01,  5.56226896e-01, -4.81533636e-01],
       [-7.50193522e-03, -2.35688911e-01, -8.60734038e-02],
       [ 6.35498649e-01, -1.29961074e+00, -3.89606962e-01],
       [ 8.39391576e-01,  3.30741999e-01,  1.88210735e-01],
       [-5.81392058e-01, -1.21126768e+00, -5.41759499e-01],
       [-9.79740937e-01, -2.84654610e-01, -1.15768803e-01],
       [ 1.40307721e-02,  8.10160365e-01, -2.60120379e-01],
       [ 4.79630966e-01,  9.44972588e-01, -5.63677241e-01],
       [-4.17752265e-01, -1.91866910e-01,  2.07764164e-01],
       [ 5.45543545e-01, -3.22412023e-01, -4.78626284e-01],
       [-6.34473197e-03, -9.04318406e-02,  3.59659324e-01],
       [ 3.16286938e-02, -1.42896634e+00, -7.00942499e-02],
       [ 4.23881560e-01,  1.60241421e+00,  8.99073745e-01],
       [ 5.39462453e-01, -6.01836417e-01, -3.96725162e-01],
       [-6.04544544e-01,  1.11554846e+00, -4.37346379e-01],
       [-1.48584806e-02, -8.56373625e-02, -1.19503232e-01],
       [-1.45732546e+00,  9.50729878e-01,  2.16155245e-01],
       [-4.12657528e-01,  1.48783309e+00, -1.79034241e-01],
       [-7.70521825e-01,  5.78184545e-01,  2.01192638e-01],
       [-8.42816382e-01,  1.72321391e+00,  1.78703849e-01],
       [ 6.79651065e-01, -5.26261295e-01, -6.77863130e-02],
       [ 4.57671073e-01,  5.63417436e-01, -1.14394289e+00],
       [ 4.36395489e-01, -6.72915933e-01,  7.19150055e-02],
       [ 6.33431691e-01, -9.40244868e-01,  3.42230507e-02],
       [-3.18180404e-01, -3.64549152e-01, -1.32913744e-01],
       [-3.93560776e-01, -7.12041557e-01, -5.78816940e-01],
       [-5.82598182e-01, -6.49752359e-01, -3.95864536e-01],
       [-4.59297741e-01,  3.37069850e-01, -8.38509956e-02],
       [ 1.40971521e-01, -4.32073676e-01, -2.20726742e-01],
       [ 3.24551519e-02, -4.39548653e-01, -5.16142466e-02],
       [-7.32206081e-01, -2.88646906e-01, -1.56857757e-01],
       [ 5.16530820e-01, -7.17707890e-01,  1.99892744e-02],
       [ 2.74238794e-01,  1.35950111e+00, -4.01488830e-01],
       [ 6.39246173e-01,  9.37114786e-01,  3.98410742e-01],
       [ 1.15415242e+00,  9.83756927e-01, -5.14825657e-01],
       [-6.30885934e-01, -7.54750051e-01, -1.16825729e+00],
       [ 5.37961046e-01, -4.91643675e-01,  5.10382601e-01],
       [-8.32169818e-02, -3.06508485e-01, -3.87794796e-01],
       [ 5.77061378e-01, -2.24196084e-01,  1.71543648e-01],
       [ 1.19034886e-01, -5.68784066e-01, -1.95445831e-01],
       [ 1.37208789e+00, -5.64297298e-01,  1.55401720e-01],
       [-7.26869788e-02,  6.49712378e-01, -5.50152791e-01],
       [ 1.26724948e+00,  2.06734594e-01,  2.55393908e-01],
       [ 1.87271046e-02,  5.58634733e-01,  2.68601909e-02],
       [ 5.02962258e-01,  7.05644120e-01, -1.00857396e-01],
       [ 7.46991671e-02, -7.90787764e-01,  6.03615880e-01],
       [-4.73412919e-01, -1.09482736e+00,  6.03872399e-01],
       [ 3.69967347e-01,  1.00434812e+00, -1.72916622e-01],
       [ 9.65611431e-02,  1.95411537e-01,  3.87282297e-01]])

In [72]:
y

array([ 0.42786349, -0.67348041, -0.09087764, -0.48949442, -0.12894109,
       -0.04501494,  0.08757735, -0.50456809, -0.54582359,  0.26527124,
        0.59784431,  0.45268655,  0.08698737,  0.05540612, -0.09117045,
        0.14472907, -0.15127161, -0.05633559,  1.2167688 , -0.02230032,
       -0.69063922,  0.08524475,  0.73444882, -0.35271834, -0.25469893,
        0.30780133,  0.70383282, -0.5331801 , -0.22072084, -0.09677542,
       -0.49691476, -1.33344177, -0.37685375,  1.25999316, -0.29484543,
       -0.61445479,  0.18725508, -0.40779804,  0.05730302,  0.4745453 ,
       -0.43516233,  0.03148314, -0.05635841,  0.12133475,  0.22345618,
        0.05955794,  0.25805322, -0.2750181 ,  0.30513496, -0.20032791,
        0.08627269, -0.42451706,  0.23481135, -0.32057314,  0.67561398,
       -0.38726135, -0.37863875, -0.16376385, -0.17011089,  0.39236031,
       -0.13687819,  0.18865275, -0.13990581,  0.61372834, -0.40825235,
        0.46866481, -0.59632133, -0.07708193,  0.70818684,  0.14742778,
       -0.25243755, -0.45076951,  0.14863784,  0.02763661, -0.15376531,
       -0.37908987, -0.69274212, -0.41747033, -0.4004324 ,  0.46133304,
        0.02410373, -0.29847886, -0.44362476, -0.07404956,  1.24385596,
        0.17650843, -0.29855216, -0.33862971, -0.53904685,  0.25107301,
       -0.22291509,  1.28761388, -0.16810918,  0.58654422,  0.06753127,
        0.25301877, -0.14856336,  0.34851615,  0.20408018,  0.40198997])

Here we wrote down the true model with known parameters beta. In this case, dnorm is a helper function for generating a normal distributed data with a particular mean and variance.


A linear model is genarlly fitted with an intercept term.

In [73]:
X_model = sm.add_constant(X)
X_model[:5]

array([[ 1.        , -0.12946849, -1.21275292,  0.50422488],
       [ 1.        ,  0.30291036, -0.43574176, -0.25417986],
       [ 1.        , -0.32852189, -0.02530153,  0.13835097],
       [ 1.        , -0.35147471, -0.71960511, -0.25821463],
       [ 1.        ,  1.2432688 , -0.37379916, -0.52262905]])

In [74]:
#The sm.OLS class can fit an ordinary least squares linear regression

model = sm.OLS(y,X)
model

In [75]:
results = model.fit() # The "fit" method returns regression results object containing 
                      # estimated model parameters and diagonistic output of the model

In [76]:
results.params

array([0.17826108, 0.22303962, 0.50095093])

In [77]:
print(results.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.430
Model:                            OLS   Adj. R-squared (uncentered):              0.413
Method:                 Least Squares   F-statistic:                              24.42
Date:                Mon, 29 Aug 2022   Prob (F-statistic):                    7.44e-12
Time:                        22:52:45   Log-Likelihood:                         -34.305
No. Observations:                 100   AIC:                                      74.61
Df Residuals:                      97   BIC:                                      82.42
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.1783      0.053      3.364      0.001       0.073       0.283
x2             0.2230      0.046      4.818      0.000       0.131       0.315
x3             0.5010      0.080      6.237      0.000       0.342       0.660
==============================================================================
Omnibus:                        4.662   Durbin-Watson:                   2.201
Prob(Omnibus):                  0.097   Jarque-Bera (JB):                4.098
Skew:                           0.481   Prob(JB):                        0.129
Kurtosis:                       3.243   Cond. No.                         1.74
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Sci-Kit learn:

In [132]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [133]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [134]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [135]:
#check columns with missing data as scikit learn cannot be fed missing data
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [136]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In stats and machine learning example the typical task is to predict whether a passenger would survive based on features in the data.

# Feature Selection: 

1. Age
2. Gender
3. PClass

We will use age as a predictor but it has missing values, hence we will use missing data imputation.

In [137]:
impute_value = train["Age"].median()
train["Age"] = train["Age"].fillna(impute_value)

test["Age"] = test["Age"].fillna(impute_value)

In [138]:
#Lets add "is_female" as encoded version:

train["is_female"] = (train["Sex"]=="female").astype(int)

test["is_female"] = (test["Sex"] == "female").astype(int)

train[:50]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,is_female
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0
5,6,0,3,"Moran, Mr. James",male,28.0,0,0,330877,8.4583,NaN,Q,0
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,1
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,1
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,1
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,1
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,0
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,0
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,1
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,1
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,0
17,18,1,2,"Williams, Mr. Charles Eugene",male,28.0,0,0,244373,13.0000,NaN,S,0
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,1
19,20,1,3,"Masselmani, Mrs. Fatima",female,28.0,0,0,2649,7.2250,NaN,C,1
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,0
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,0
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,1
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,0
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,1
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,1
26,27,0,3,"Emir, Mr. Farred Chehab",male,28.0,0,0,2631,7.2250,NaN,C,0
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,0
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,28.0,0,0,330959,7.8792,NaN,Q,1
29,30,0,3,"Todoroff, Mr. Lalio",male,28.0,0,0,349216,7.8958,NaN,S,0
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C,0
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,28.0,1,0,PC 17569,146.5208,B78,C,1
32,33,1,3,"Glynn, Miss. Mary Agatha",female,28.0,0,0,335677,7.7500,NaN,Q,1
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S,0
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C,0
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S,0
36,37,1,3,"Mamee, Mr. Hanna",male,28.0,0,0,2677,7.2292,NaN,C,0
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,NaN,S,0
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S,1
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,NaN,C,1
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S,1
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S,1
42,43,0,3,"Kraeff, Mr. Theodor",male,28.0,0,0,349253,7.8958,NaN,C,0
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C,1
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.0,0,0,330958,7.8792,NaN,Q,1
45,46,0,3,"Rogers, Mr. William John",male,28.0,0,0,S.C./A.4. 23567,8.0500,NaN,S,0
46,47,0,3,"Lennon, Mr. Denis",male,28.0,1,0,370371,15.5000,NaN,Q,0
47,48,1,3,"O'Driscoll, Miss. Bridget",female,28.0,0,0,14311,7.7500,NaN,Q,1
48,49,0,3,"Samaan, Mr. Youssef",male,28.0,2,0,2662,21.6792,NaN,C,0
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8000,NaN,S,1

#or use label encoder

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
train["Sex"] = le.fit_transform(train["Sex"])


train.head()

 See that there are also categorical values in the dataset,for this, you need to use Label Encoding or 
#One Hot Encoding.

In [89]:
predictors = ["Pclass", "is_female", "Age"]

In [90]:
X_train = train[predictors].values
X_test = test[predictors].values

In [91]:
y_train = train["Survived"].values

In [93]:
X_train[:5]

array([[ 3.,  0., 22.],
       [ 1.,  1., 38.],
       [ 3.,  1., 26.],
       [ 1.,  1., 35.],
       [ 3.,  0., 35.]])

In [94]:
y_train[:5]

array([0, 1, 1, 1, 0], dtype=int64)

In [95]:
from sklearn.linear_model import LogisticRegression

In [96]:
model = LogisticRegression()

In [97]:
model.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [98]:
y_predict = model.predict(X_test)

In [99]:
y_predict[:5]

array([0, 0, 0, 0, 1], dtype=int64)

In [121]:
df_s=pd.read_csv("titanic/gender_submission.csv")
df_s

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [123]:
y_test = df_s["Survived"].values
y_test

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0],
      dtype=int64)

In [124]:
len(X_test)

418

In [125]:
from sklearn import metrics

print(metrics.accuracy_score(y_predict, y_test))

0.9712918660287081

In [126]:
(y_test == y_predict).mean()

0.9712918660287081

In [141]:
#Methods like cross validation can be used to for parameter tuning to avoid overfitting

from sklearn.linear_model import LogisticRegressionCV

model_cv = LogisticRegressionCV(10)
model_cv.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

LogisticRegressionCV(Cs=10, class_weight=None, cv='warn', dual=False,
                     fit_intercept=True, intercept_scaling=1.0, l1_ratios=None,
                     max_iter=100, multi_class='warn', n_jobs=None,
                     penalty='l2', random_state=None, refit=True, scoring=None,
                     solver='lbfgs', tol=0.0001, verbose=0)

In [143]:
from sklearn.model_selection import cross_val_score

model = LogisticRegression(C=10)

scores = cross_val_score(model, X_train, y_train, cv = 4)
scores

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

array([0.77232143, 0.80269058, 0.77027027, 0.78828829])