In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("ex4.csv",skiprows=[0,1,3,4])

In [4]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
df=pd.read_csv("ex5.csv")

In [6]:
df

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [7]:
pd.isnull(df)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [8]:
df=pd.read_csv("ex5.csv",na_values=["missing"])

In [9]:
df

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [10]:
sentinels={"message":["foo","NA"],"something":["two"]}

In [11]:
df=pd.read_csv("ex5.csv",na_values=sentinels)

In [12]:
df

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [13]:
pd.options.display.max_rows=10

In [ ]:
result=pd.read_csv("")